/* google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* layout */
:root {
  --primary-background: white;
  --secondary-background: #f7f7fc;

  --primary-text: #1c1c56;
  --secondary-text: #1c1c56;

  --lime: #09ca8a;
  --white: white;

  --purple: #6d72f6;
  --dark-purple: #5055df;

  --success: #1aac83;
  --error: #e7195a;

  --navyblue: #00206B;
  --brand-blue: #0050FF;
  --brand-green: #39B54A;
}

body {
  background: var(--primary-background);
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--primary-text);
  width: 100vw;
}

* {
  transition: all 0.5s ease-in-out;
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

/* Make all link texts black with no text decoration */
a {
  text-decoration: none;
  cursor: pointer;
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

html {
  scroll-behavior: smooth;
}


/* All images must not be larger than parent container */
img {
  width: 100%;
}

/* Centers it, sets a maximum width and make sure elements can flow past it*/

.container {
  margin: 0 auto;
  max-width: 1320px;
  overflow: visible;
}

/* Navbar  */
.Navbar {
  background: var(--secondary-background);
  padding: 18px 0;

  .logo {
    padding-left: 10px;
    width: auto;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.Navbar a {
  text-decoration: none;
}

.Navbar .container .right {
  align-items: center;
  font-size: 120%;
  font-weight: 400;
  padding-right: 10px;

  .menu-items {
    display: flex;
    gap: 28px;
    font-weight: 500;
  }

  .icon-menu {
    font-size: 220%;
    cursor: pointer;
    display: none;
  }
}

.Navbar .container .right a {
  font-size: 86%;
  color: var(--secondary-text);

  &:hover {
    color: var(--brand-green);
  }
}

/* Button */
.button {
  padding: 16px 24px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  font-weight: bold;
  font-size: 90%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .text {
    display: inline-block;
    vertical-align: middle;
  }

  &:hover {
    transform: translate(0, -2px);
  }

}

.button.default {
  background-color: var(--brand-blue);
  color: white;

  &:hover {
    background-color: var(--navyblue);
  }
}

.button.secondary {
  background-color: var(--white);
  color: var(--brand-green);

  .icon {
    color: var(--purple);
  }

  &:hover {
    background-color: var(--white);

    .text,
    .icon {
      color: var(--lime);
    }
  }
}


/* Home page */
.home section,
.forPropertyManager section {
  width: 100%;
  border-bottom: solid var(--secondary-background);
  display: flex;
  padding: 3rem 0;
}


.home .bgWrapper-brand-blue,
.articleContent .bgWrapper-brand-blue {
  background-color: var(--brand-blue);
}

.home section.one,
.forPropertyManager section.one {

  display: flex;
  /* align-items: center; */
  justify-content: space-between;

  .left {
    width: 42%;
    margin: auto;
    text-align: left;
    padding: 0 10px;

    .headline {
      margin: 0;
      font-size: 240%;
      color: var(--primary-text);
      font-weight: 600;
    }

    .headline-2 {
      margin: 28px 0;
      line-height: 2rem;
      font-weight: 300;
      color: var(--secondary-text);
      font-size: 126%;
    }
  }

  .right {
    width: 58%;
    margin: 0 auto;
    padding: 0 10px;

    img {
      /* border: 1px dashed; */

    }
  }
}

.home section.two,
.forPropertyManager section.two {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;

  .howItWorks {
    /* background-color: #09ca8a; */
    width: 100%;

    h1 {
      font-size: 240%;
      font-weight: 600;
      margin: 12px auto;
    }

    h2 {
      font-size: 136%;
      font-weight: 350;
      margin: 48px auto;
    }

    .steps {
      display: flex;
      justify-content: space-between;
      /* padding-left: 10px;
      padding-right: 10px; */

      .step {
        padding: 0 8px;
        width: 25%;
        text-align: left;
        line-height: 1.6rem;

        p {
          text-align: center;
          font-size: 160%;
          font-weight: 400;
          margin: 16px auto;
        }

        h3 {
          font-size: 130%;
          font-weight: 600;
          margin: 16px auto;
        }

        h4 {
          font-size: 100%;
          font-weight: 300;
          line-height: 1.8rem;
        }
      }
    }
  }


}


.home section.three {
  /* border: solid; */
  padding: 96px 0;
  text-align: center;
  flex-direction: column;
  color: var(--white);

  h1 {
    margin: 72px 0 28px 0;
    font-size: 900%;
    font-weight: 600;
  }

  h4 {
    font-size: 180%;
    font-weight: 400;
    margin: 18px auto;
  }

  h5 {
    font-size: 120%;
    font-weight: 200;
    line-height: 1.9rem;
  }

}

/* FAQ Section by Shahil*/
.home section.four {
  flex-direction: column;

  h2 {
    text-align: center;
    margin: 28px auto;
    font-size: 240%;
    font-weight: 500;
  }

  .Question {
    border-bottom: solid 0.5px;
    height: fit-content;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  h3 {
    font-size: 120%;
    font-weight: 500;

  }

  .Question button {
    background: none;
    border: none;
    font-size: x-large;
    font-weight: 500;
    margin-left: 10px;
  }

  .Answer {
    position: relative;
    padding: 12px 15px;
    font-size: 120%;
    margin-bottom: 10px;
    font-weight: 300;
  }
}

/* WhoWeAre Page */
.whoweare,
.usecase {

  /* Article Component */
  .article {
    margin: auto;
  }

  .article .articleTitle {
    font-size: 350%;
    text-align: left;
    width: 100%;
    padding-left: 30px;
    background-color: var(--secondary-background);
    color: var(--primary-text);

    .widthWrapper {
      padding-left: 10px;
      margin: 0 auto;
      max-width: 1320px;
    }
  }


  .articleContentWrapper {
    padding: 0 0 12% 0;
  }

  .article .articleContent,
  .article .useCaseContent {
    margin: auto;
    color: var(--secondary-text);

    .textWrapper {
      max-width: 78%;
      margin: auto;
      padding-left: 25px;
      padding-right: 25px;

    }

    h3,
    h5,
    li {
      line-height: 1.6rem;
    }

    h3 {
      font-size: 160%;
      font-weight: 400;
      color: var(--primary-text);
    }

    h5,
    li {
      font-size: 110%;
      font-weight: 300;
    }


    .bgWrapper-brand-blue-whiteText {
      background-color: var(--brand-blue);
      border-radius: 24px;

      h3,
      h5 {
        color: white;
      }
    }
  }



  .articleSocialMediaContainer {
    display: flex;
    margin: 0 auto;
  }


  .articleSocialMediaContainer .buttonSmallRound {
    padding: 8px;
    margin: 6px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: var(--secondary-background);
    cursor: pointer;

    span {
      color: var(--purple);
      vertical-align: middle;
      font-size: large;
      font-weight: 600;
      margin-top: 2px;
    }

    &:hover {
      background-color: var(--purple);

      span {
        color: var(--white);
      }
    }

  }
}

.headlineBanner {
  width: 100%;
  height: 100%;
  position: relative;

  img {
    position: relative;
    /* right: 18%; */
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  h1 {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    margin: auto;
    width: 78%;
    text-align: center;
    font-size: 260%;
    font-weight: 400;
    color: var(--primary-text);
  }
}

.buttonSmallRound {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 100%;

  span {
    color: var(--navyblue);
    font-size: x-large;
    font-weight: 500;
  }


  &:hover {
    span {
      font-weight: 800;
    }
  }
}



/* Wait List Page */
.waitlist .pageWrapper {
  padding: 28px 15px;
  max-width: 1320px;
  margin: auto;
  display: flex;
  gap: 1px;

  .bannerWaitlist {
    background-color: var(--secondary-background);
    display: block;
    width: 100%;
    height: 100px;
    padding: 100px;
    position: absolute;
    top: 100px;
    left: 0px
  }


  .left {
    background-color: var(--navyblue);
    margin: 12px;
    width: 35%;
    height: fit-content;
    border: solid;
    border-radius: 28px;
    padding: 38px 28px;
    text-align: start;
    color: var(--white);
    position: relative;
    left: 140px;

    h3 {
      font-size: 180%;
      font-weight: 600;
    }

    h4 {
      font-size: 110%;
      font-weight: 300;
    }
  }

  .leftTwo {
    background-color: var(--white);
    margin: 12px;
    width: 40%;
    height: fit-content;
    /* border: solid;
      border-radius: 28px; */
    padding: 38px 28px;
    text-align: start;
    color: var(--primary-text);
    position: relative;
    top: 400px;
    right: 250px;

    h3 {
      font-size: 180%;
      font-weight: 600;
    }

    h4 {
      font-size: 110%;
      font-weight: 300;
      line-height: 1.3rem
    }
  }

  .right {
    position: relative;
    top: 0;
    width: 45%;
    margin: 0 auto;
    padding: 38px 18px;
    right: 140px;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);

    h1 {
      font-size: 340%;
      font-weight: 700;
      line-height: 5rem;
    }

    h2 {
      font-size: 180%;
      font-weight: 500;
      line-height: 4rem;
    }

    form {
      .field {
        margin: 10px auto;

        mar label {
          font-size: 110%;
          line-height: 1rem;
        }

        input {
          width: 100%;
          padding: 12px 0;
          margin-bottom: 1px;
          font-size: 100%;
          border: 0;
          border-bottom: 1px solid grey;
          border-radius: 0;
          color: var(--dark-purple);

          &:focus {
            outline: none;
            border-bottom: 1px solid var(--purple);
          }
        }


        select {
          min-width: 300px;
          appearance: none;
          outline: none;
          /* safari */
          -webkit-appearance: none;
          /* other styles for aesthetics */
          font-size: 1.15rem;
          padding: 0.675em 6em 0.675em 1em;
          background-color: #fff;
          border: 1px solid #caced1;
          border-radius: 0.25rem;
          color: #000;
          cursor: pointer;
        }
      }

      .half input {
        width: 50%;
        display: block;
      }
    }
  }
}


/* For Property Manager Page */
.forPropertyManager {
  section.three .right {
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
    display: flex;
    margin: 0;
    padding: 38px 18px;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
    position: relative;
    left: 25%;
    width: 30%;

    h1 {
      font-size: 260%;
      font-weight: 600;
      line-height: 5rem;
    }

    h2 {
      font-size: 180%;
      font-weight: 500;
      line-height: 4rem;
    }

    form {

      .field {
        margin: 18px auto;

        label {
          font-size: 110%;
          line-height: 1rem;
        }

        input {
          width: 100%;
          padding: 12px 0;
          margin-bottom: 1px;
          font-size: 100%;
          border: 0;
          border-bottom: 1px solid grey;
          border-radius: 0;
          color: var(--dark-purple);

          &:focus {
            outline: none;
            border-bottom: 1px solid var(--purple);
          }
        }


        select {
          width: 285px;
          appearance: none;
          outline: none;
          /* safari */
          -webkit-appearance: none;
          /* other styles for aesthetics */
          font-size: 1.15rem;
          padding: 0.675em 1em 0.675em 1em;
          background-color: #fff;
          border: 1px solid #caced1;
          border-radius: 0.25rem;
          color: #000;
          cursor: pointer;
        }
      }

      .half input {
        width: 50%;
        display: block;
      }

      .sameRow {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .field {
          width: 100%;

          input {
            width: 80%;
          }
        }
      }
    }
  }

  section.three .left {
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
    display: flex;
    margin: 0;
    padding: 38px 18px;
    /* box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3); */
    position: relative;
    left: 20%;
    width: 25%;
    height: 50%;

    h1 {
      font-size: 260%;
      font-weight: 600;
      line-height: 5rem;
    }

    h4 {
      font-size: 110%;
      font-weight: 300;
      line-height: 1.8rem;
    }
  }

}

footer {
  background-color: var(--secondary-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  bottom: 0;
  margin-top: -10px;

  .left {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;

    a {
      color: var(--secondary-text);
    }
  }

  .right img {
    cursor: pointer;
    opacity: 50%;
    width: 32px !important;

    &:hover {
      opacity: 100%;
    }

  }
}

.linebreak {
  display: none;
}

/* width adjustment */

@media only screen and (max-width: 980px) {
  .articleSocialMediaContainer {
    display: none;
  }

  .article .articleTitle {
    font-size: 230%;
  }
}

/* Media queries for mobile devices Nav */
@media only screen and (max-width: 768px) {

  .Navbar .container .right {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 100%;

    a {
      font-size: 100%;
    }

    .menu-toggle {

      position: relative;
    }

    .menu-items {
      display: none;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      text-align: right;
      width: 100%;
      padding: 28px 30px;
      margin: auto;
      background-color: var(--secondary-background);
      right: 0px;
    }


    .menu-items.open {
      display: flex;
    }

    .icon-menu {
      display: inline-block;
    }

  }



  .linebreak {
    display: block;
  }


  .home,
  .forPropertyManager {
    section.one {
      flex-direction: column;
      width: 100%;

      .left {

        width: 100%;
      }

      .right {
        width: 100%;
      }
    }

    section.two .howItWorks .steps {

      flex-direction: column;
      width: 100%;

      .step {
        width: 100%;
        text-align: center;

        img {
          width: 80%;
        }

        h4 {
          text-align: start;
        }
      }
    }

    section.three {
      width: 90%;

      h1 {
        font-size: 650%;
      }

      select {
        min-width: 10px;
      }


    }


  }

  .waitlist {
    .pageWrapper {
      flex-direction: column;

      .left {
        width: 100%;
        margin: auto;
        position: static;
      }

      .leftTwo {
        width: 100%;
        margin: auto;
        position: static;
      }

      .right {
        width: 100%;
        margin: auto;
        position: static;

        h1 {
          font-size: 240%;
        }

        form .field select {
          min-width: 100%;
          width: 100%;
          padding: 8px;
        }
      }

      .bannerWaitlist {
        display: none;
      }
    }

  }

  .forPropertyManager {
    section.three .right {
      width: 100%;
      margin: 0 6%;
      position: static;

      h1 {
        font-size: 180%;
      }

      form {
        h2 {
          font-size: 120%;
        }

        .field {

          width: 100%;

          input {
            width: 100%;
          }
        }

        .sameRow {
          flex-direction: column;

          .field {
            width: 100%;

            input {
              width: 100%;
            }
          }
        }
      }

    }

    section.three .left {
      position: static;

      h1 {
        font-size: 180%;
      }

      .left {
        position: static;
        width: 100%;
        margin: auto;
      }

    }
  }

  footer .container {
    flex-direction: column;

    .left {
      flex-direction: column;

      a img {
        margin-right: 0px !important;
      }
    }

  }


}