/* google font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;400;600;800&display=swap');

/* layout */
:root {
  --primary-background: white;
  --secondary-background: #f7f7fc;

  --primary-text: #1c1c56;
  --secondary-text: #73739a;

  --lime: #09ca8a;
  --white: white;

  --purple: #6d72f6;
  --dark-purple: #5055df;

  --success: #1aac83;
  --error: #e7195a;
}

body {
  background: var(--primary-background);
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  color: var(--primary-text);
}

* {
  transition: all 0.5s ease-in-out;
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}


/* Navbar  */
.Navbar {
  background: var(--secondary-background);
  padding: 22px 28px;
  border: solid;
}

.Navbar .container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Navbar a {
  color: var(--primary-text);
  text-decoration: none;
}

.Navbar .container .right {
  padding: 0px 20px;
  display: flex;
  align-items: center;
  gap: 22px;

  .icon-menu {
    font-size: 220%;
    cursor: pointer;
    display: none;
  }
}

.Navbar .container .right a {
  font-size: 86%;
  color: var(--secondary-text);

  &:hover {
    color: var(--lime);
  }
}

/* Button */
.button {
  padding: 16px 24px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  font-weight: bold;
  font-size: 90%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .text {
    display: inline-block;
    vertical-align: middle;
  }

  &:hover {
    transform: translate(0, -2px);
  }

}

.button.default {
  background-color: var(--purple);
  color: white;

  &:hover {
    background-color: var(--dark-purple);
  }
}

.button.secondary {
  background-color: var(--white);
  color: var(--purple);

  .icon {
    color: var(--purple);
  }

  &:hover {
    background-color: var(--white);

    .text,
    .icon {
      color: var(--lime);
    }
  }
}


/* Home page */
.home section {
  width: 70%;
  margin: 56px auto;
  border-bottom: solid var(--secondary-background);

}

.home section.one {
  padding: 28px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 20%; */

  .left {
    width: 51%;
    margin: 0 auto;
    /* border: solid; */

    .headline {
      margin: 0;
      line-height: 0.9em;
      font-size: 300%;
      color: var(--primary-text);
      font-weight: 600;
    }

    .headline-2 {
      margin: 38px 0;
      font-weight: 400;
      color: var(--secondary-text);
      font-size: small;
    }
  }

  .right {
    /* border: solid; */
    width: 49%;
    margin: 0 auto;
    padding: 12px 0;
  }
}



/* width adjustment */

@media only screen and (max-width: 980px) {}