.mapPageTopBanner {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    margin: auto;
    width: 78%;

    display: flex;
    align-items: center;
    gap: 18px;
    width: 100%;
    justify-content: center;

    .left {
        span {
            font-size: 640%;
            display: flex;
            vertical-align: middle;
            color: var(--primary-text);
        }
    }

    .right {
        text-align: left;
        /* max-width: 50%; */
        span {
            font-size: 260%;
            font-weight: 400;
            color: var(--primary-text);
        }
    }
}

.mapContentWrapper {
    padding: 2% 4%;
    margin: 0 auto;
    display: flex;
    gap: 18px;
    justify-content: center;

    .left {
        /* border-right: solid var(--secondary-text); */
        padding: 12px 26px;
        border-radius: 8px;
        width: 28%;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        overflow-y: auto;
        height: 100vh;

        .title {
            margin: 16px auto;
            font-weight: 600;
        }
    }

    .right {
        border-radius: 6px;
        overflow: hidden;
        border: var(--navyblue) solid 2px;
        box-shadow: 10px 3px 10px rgba(9, 7, 7, 0.2);
        width: 70%;

        * {
            transition: none;
        }
    }

}


.place-dropdowns {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 10px;

}

.dropdown {
    position: relative;
    
    flex-grow: 1; /* Distribute available space equally among dropdowns */
    max-width: calc(50% - 10px); 
}

.form-dropdown {
    position: relative;
    
    flex-grow: 1;
}
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 10px 12px 20px; /* Adjust padding */
    font-size: 14px;
    cursor: pointer;
    width: 100%; /* Let the width be determined by content */
    outline: none;
    color: var(--navyblue);
}

.arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #555; /* Change arrow color */
    pointer-events: none;
}


.rentItem {
    border-radius: 16px;
    border: lightgrey solid 1px;
    margin: 18px auto;
    padding: 32px;
    cursor: pointer;

    &:hover,
    .hover {
        border: var(--brand-blue) solid 1px;

        .one {
            color: var(--brand-blue);
        }
    }

    .one {
        font-size: larger;
        font-weight: 600;
        text-align: left;
        margin-bottom: 8px;
    }

    .two {
        text-align: left;
        margin: 12px 0 12px 0;
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: small;
        color: grey;

    }

    .three {
        margin-top: 18px;
        display: flex;
        justify-content: space-between;
        font-size: small;

        .cost {
            background-color: var(--secondary-background);
            color: var(--navyblue);
            border-radius: 50px;
            padding: 6px 12px;
            display: flex;
            align-items: center;

            .money {
                font-weight: 600;
            }
        }

        .btn {
            display: flex;
            align-items: center;
            font-weight: 600;
            color: var(--navyblue);
            border-bottom: solid var(--brand-blue) 2px;
        }
    }
}


.pin {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: var(--brand-blue) solid 4px;
    background-color: var(--brand-green);
    color: white;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        border: var(--brand-blue) solid 4px;
        background-color: var(--brand-blue);
    }
}


@media only screen and (max-width: 768px) {
    .mapPageTopBanner {
        padding-bottom: 24px;
        /* flex-direction: column; Revert to row layout for larger screens */

        .left {
            /* width: 100%; */
            span {
                font-size: 200%;
            }   
        }
        .right {
            
            span {
                font-size: 100%;

                .linebreak_remove_for_mobile {
                    display: none;
                }
            }
        }
    }

    .mapContentWrapper {
        flex-direction: column;
        .right {
            order: -1;
            width: 100%; 
            
            border: none;
        }

        .left {
            width: 100%;
            
        }
    }


}

